<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 命名空间 -->
	<!-- 定义别名：简化 -->
	<typeAliases>
		<typeAlias alias="User" type="com.ldc.ssm.entity.User" />
		<typeAlias type="com.ldc.ssm.entity.Person" alias="person" />
		<typeAlias type="com.ldc.ssm.entity.QueryCondition" alias="qc" />
	</typeAliases>

	<!-- 映射map -->
	<mappers>
		<!-- 注解开发就不用再配置，否则提示重复 -->
		<!-- <mapper resource="mapper/UserMapper.xml" /> -->
	</mappers>
</configuration>
